<link rel="stylesheet" href="~/Content/custom/my-custom-slider.css" />
<style>
    label.heading {
        font-size: 20px;
        font-weight: 600;
    }

    .row {
        text-align: center;
    }

    .panel {
        border: 1px groove rgba(0, 0, 0, 0.10);
        border-radius: 5px;
        padding: 0px 10px 0px 10px;
    }

    input[type="checkbox"] {
        transform: scale(2, 2);
        position: relative;
    }

    div.centered {
        margin: auto;
    }

    .search-button-div {
        position: absolute;
        padding: inherit;
        left: 0;
        right: 0;
        bottom: 15px;
    }
</style>
<div class="row">
    <div class="form-group col-md-4">
        <label class="heading" for="name_searchbox">Name</label>
        <input type="text" class="form-control" id="name_searchbox" />
    </div>
    <div class="form-group col-md-4">
        <label class="heading" for="category_select">Category</label>
        <select class="form-control" id="category_select"></select>
    </div>
    <div class="form-group col-md-4">
        <label class="heading" for="category_select">Country</label>
        <select class="form-control" id="country_select"></select>
    </div>
</div>

<div class="row">
    <div class="form-group col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <label class="heading">Price</label>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="price_from">From</label>
                        <div class="slidecontainer">
                            <input type="range" min="0" max="100" value="50" class="slider" id="price-from" />
                            <label id="price-from-lb"></label>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="price_to">To</label>
                        <div class="slidecontainer">
                            <input type="range" min="0" max="100" value="50" class="slider" id="price-to" />
                            <label id="price-to-lb"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 ">
        <div>
            <label class="form-check-label heading" for="is_on_discount">Show Only Products With Discount</label><br>
            <input class="form-check-input" type="checkbox" id="is_on_discount" />
        </div>
        <div class="search-button-div">
            <button class="form-control" id="apply_search_button">Apply Search</button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#price-from").val(0);
        $("#price-to").val(100);
        $("#price-from-lb").text($("#price-from").val());
        $("#price-to-lb").text($("#price-to").val());
    });

    $("#price-from").on('input', function () {
        var newVal = parseInt($("#price-from").val());
        var priceToVal = parseInt($("#price-to").val());
        if (newVal >= priceToVal) {
            $("#price-from").val(priceToVal - 1);
        }
        $("#price-from-lb").text($("#price-from").val());
    });

    $("#price-to").on('input', function () {
        var newVal = parseInt($("#price-to").val());
        var priceFromVal = parseInt($("#price-from").val());
        if (newVal <= priceFromVal) {
            $("#price-to").val(priceFromVal + 1);
        }
        $("#price-to-lb").text($("#price-to").val());
    });
</script>

