<nav class="navbar navbar-dark navbar-fixed-bottom">
    <div class="col-sm-6">
        <ul class="list-inline" style="margin-top: auto; margin-bottom:auto">
            <li class="list-inline-item">Vlad Gavrilovich</li>
            <li class="list-inline-item">+375291386679</li>
        </ul>
    </div>
    <div class="col-sm-6" style="text-align:right">&copy; @DateTime.Now.Year - My Shopping Center</div>
</nav>
